---
interface Props {
	urlImage: string
	techStack: any
}
const { urlImage, techStack } = Astro.props
---

<div class="card card-compact shadow rounded mb-5">
	<figure>
		<img src={urlImage} alt="" />
	</figure>
	<div class="p-1 bg-base-200">
		<ul class="flex items-center gap-2">
			{
				techStack.map((tech: any) => (
					<li>
						<img src={tech.icon} class="w-5 h-5" alt="" />
					</li>
				))
			}
		</ul>
	</div>
</div>
