---
interface Props {
	id: string
	title: string
}

const { id, title } = Astro.props
---

<section id={id} class="py-5 px-8">
	<h1 class="text-4xl font-bold text-center uppercase mb-3">
		{title}
	</h1>
	<slot />
</section>
